/ about us
%section#about.slice
  .container
    .row
      .col-md-12
        %img.img-responsive.img-centered{src: "/images/arqueologica.png" }

    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 ARQUEOLÓGICA 2.0 - 8º Congreso Internacional
        %h2 Documentación 3D avanzada, modelado y reconstrucción de objetos patrimoniales, monumentos y sitios
        %h3 5 - 7 Septiembre, 2016
        %h3 Campus de Vera, Universitat Politècnica de València
        %h3 Valencia, España
      .col-sm-1
    .row
      .col-md-12.text-justify
        :markdown
          En representación del Comité Organizador del Congreso Internacional de Arqueología e Informática Gráfica, Patrimonio Cultural e Innovación ‘ARQUEOLÓGICA 2.0', es un placer invitar a nuestros colegas de todo el mundo a la 8ª Edición de ARQUEOLÓGICA 2.0 en Valencia, España , del 5 al 7 de septiembre de 2016. El lema del Congreso es: **'Documentación 3D avanzada, modelado y reconstrucción de objetos patrimoniales, monumentos y sitios’.**
        %p Invitamos a investigadores, profesores, arqueólogos, arquitectos, ingenieros, historiadores de arte... que se ocupan del patrimonio cultural desde la arqueología, la informática gráfica y la geomática, a compartir conocimientos y experiencias en el campo de la Arqueología Virtual. La participación de investigadores y empresas de prestigio será muy apreciada. Se ha preparado un atractivo e interesante programa para participantes y visitantes.
        %p
          ARQUEOLÓGICA 2.0 – 2016 es un congreso organizado por la Sociedad Española de Arqueología Virtual
          = surround '(', '),' do
            %a{:href => "http://www.arqueologiavirtual.com/", target: "_blank"} SEAV
          la Red Internacional de Arqueología Virtual
          = surround '(', ')' do
            %a{href: 'http://virtualarchaeology.net/', target: "_blank"} INNOVA
          y la Universitat Politècnica de València, en colaboración con
          %a{href: 'http://cipa.icomos.org/'} CIPA Documentación del Patrimonio.
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Artículos y Contribuciones
        %p Se aceptan tres tipos de contribuciones:
        %p
          %strong 1. Artículos científicos revisados por pares:
          artículos con un mínimo de 5 páginas (según
          = surround '', ').' do
            %a{href: "/assets/Arqueologica2016_Template_DOI.dotx"} plantilla MS Word Arqueologica2016_Template_DOI
          Deberían abordar trabajos o actividades de investigación innovadoras y sobresalientes. Se les asignará presentación oral o póster tras un proceso de revisión por pares (al menos 2 por artículo). Las actas electrónicas (libro con ISBN en USB y DOI) de Arqueológica 2.0 8º Congreso International estarán basadas en los artículos científicos. Las contribuciones seleccionadas,  exitosamente extendidas, se publicarán en la revista Virtual Archaeology Review
          = surround '(', ').' do
            %a{href: 'http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/', target: '_blank'} VAR
        %p
          %strong 2. Trabajos en curso:
          artículos cortos (con figuras) hasta 3 páginas (según
          = surround '', ').' do
            %a{href: "/assets/Arqueologica2016_Template.dotx"} plantilla MS Word Arqueologica2016_Template
          Deberían informar sobre proyectos en curso con resultados preliminares interesantes. Se les asignará presentación tipo oral o póster (tanto en soporte físico como presentación rápida digital), intentanto preservar la preferencia del remitente. Todos los artículos cortos conformarán el libro ‘Work in Progress’ y se entregarán conjuntamente con el USB del congreso.
        %p
          Tanto en 1 como en 2, se aceptan artículos en inglés (y también en español). Página web para el envío en línea:
          %a{href: 'http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/'} http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/
        %p
          %strong 3. Presentaciones (Sesiones Demo):
          se invita a que los participantes provenientes del mundo académico, institutos de investigación y empresas presenten sus herramientas, programas y desarrollos durante las Sesiones Demo que se incluirán en el programa técnico. Si desea presentar sus resultados, póngase en contacto con
          %a{href: 'mailto:remondino@fbk.eu'} Fabio Remondino (remondino@fbk.eu).
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Áreas Temáticas
        %ul
          %li Adquisición de datos métricos, fotogramétricos, de teledetección y geofísicos
          %li Documentación del patrimonio cultural
          %li Digitalización, con instrumental de gama alta, y modelado 3D de objetos, monumentos y sitios
          %li Conservación / restauración virtual
          %li Arqueología virtual
          %li Arquitectura virtual
          %li Museos virtuales
          %li Exposiciones virtuales
          %li Juegos de patrimonio cultural
          %li Entornos colaborativos para el patrimonio cultural
          %li Tecnologías de Internet y los medios sociales en arqueología
      .col-sm-1
